{% extends "../base.html" %}
{% block content %}
<h1>Listado de Tableros</h1>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">¿Seguro de eliminar al Tablero?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>¡No podrás deshacer esta acción!</b>. El Tablero será eliminado, incluyendo todos los Candidatos y documentos adjuntos en este.<br>
                <b>Tablero: </b> Proyecto Contrataciones SLP.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger">Entiendo. Eliminar.</button>
            </div>
        </div>
    </div>
</div>
<table class="table table-dark table-hover table-striped">
    <tr>
        <th colspan="2">Nombre del Tablero</th>
        <th>Creado Por</th>
        <th>Última modificación</th>
        <th>¿Eliminar?</th>
    </tr>
    {% for tablero in object_list %}
    <tr class="tablero">
        <td>
            <a href="{% url 'tablero' tablero.pk %}" class="btn btn-primary btn-sm">Ir</a>
        </td>
        <td class="tablero-nombre">{{ tablero.nombre }}</td>
        <td>{{ tablero.modificado_por.username }}</td>
        <td>{{ tablero.ultima_actualizacion }}</td>
        <td>
            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-tablero-id="{{ tablero.pk }}" data-bs-target="#deleteModal">¿Eliminar?</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}