{% extends "../base.html" %}
{% block content %}
<h1>Crear un nuevo tablero</h1><br>
<form id="formulario-tablero" method="POST">
    <div class="input-group">
        <label class="input-group-text" for="nombre">Nombre del tablero</label>
        <input id="nombre-tablero" class="form-control" type="text" name="nombre" maxlength="100" placeholder="Contrataciones Proyecto 1">
    </div><br><br>
    <h3>Define las fases de contratación.</h3>
    <div class="w-100">
        <button id="anadir-fase" class="float-start btn btn-primary" type="button">Añadir fase ⨁</button>
        <button id="crear-tablero" class="float-end btn btn-success" type="button">Finalizar</button>
        <button id="submit-form" class="d-none"></button>
    </div>
    <br><br>
    <div class="row justify-content-center" id="contenedor-fases">
        <div class="card fase text-bg-dark p-3 m-3 col-md-3" data-posicion="1">
            <div class="card-header">
                <div class="input-group">
                    <span class="numero-fase input-group-text">Fase 1</span>
                    <input class="form-control nombre-fase" type="text" maxlength="100" value="Aplicantes" required>
                    <button class="btn btn-outline-danger borrar-fase" type="button">❌</button>
                </div>
            </div>
            <div class="card-body">
                <label>Descripción de la fase</label>
                <textarea rows="7"
                    class="descripcion w-100" required>Aquí se depositarán todos los interesados en la vacante.</textarea>
            </div>
        </div>
        <div class="card fase text-bg-dark p-3 m-3 col-md-3" data-posicion="2">
            <div class="card-header">
                <div class="input-group">
                    <span class="numero-fase input-group-text">Fase 2</span>
                    <input class="form-control nombre-fase" type="text" maxlength="100" value="Entrevista" required>
                    <button class="btn btn-outline-danger borrar-fase" type="button">❌</button>
                </div>
            </div>
            <div class="card-body">
                <label>Descripción de la fase</label>
                <textarea rows="7" class="descripcion w-100" required>Entrevista telefónica/presencial con un miembro del equipo de Recursos Humanos.
Se discuten detalles sobre la experiencia laboral, motivación para unirse a la empresa y expectativas salariales.
Se proporciona información sobre la empresa y se resuelven las preguntas iniciales de los candidatos.
                </textarea>
            </div>
        </div>
        <div class="card fase text-bg-dark p-3 m-3 col-md-3" data-posicion="3">
            <div class="card-header">
                <div class="input-group">
                    <span class="numero-fase input-group-text">Fase 3</span>
                    <input class="form-control nombre-fase" type="text" maxlength="100" value="Ofertas de Empleo" required>
                    <button class="btn btn-outline-danger borrar-fase" type="button">❌</button>
                </div>
            </div>
            <div class="card-body">
                <label>Descripción de la fase</label>
                <textarea rows="7" class="descripcion w-100" required>Si el candidato es seleccionado, se le hace una oferta de empleo que incluye detalles sobre salario, beneficios y otros términos.
Posible negociación sobre los términos de la oferta.
Una vez que se llega a un acuerdo, se extiende una oferta por escrito.
                </textarea>
            </div>
        </div>
        <div class="card fase text-bg-dark p-3 m-3 col-md-3" data-posicion="4">
            <div class="card-header">
                <div class="input-group">
                    <span class="numero-fase input-group-text">Fase 4</span>
                    <input class="form-control nombre-fase" type="text" maxlength="100" value="Contratados" required>
                    <button class="btn btn-outline-danger borrar-fase" type="button">❌</button>
                </div>
            </div>
            <div class="card-body">
                <label>Descripción de la fase</label>
                <textarea rows="7" class="descripcion w-100" required>Una vez aceptada la oferta, se proporciona información sobre la inducción y el proceso de incorporación.
Se da la bienvenida al nuevo empleado al equipo y se inicia el proceso de integración en la empresa.
                </textarea>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
{% block js_scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js'></script>
<script>
    function construir_fase(fase) {
        var html = `<div class="card fase text-bg-dark p-3 m-3 col-md-3" data-posicion="${fase}">
            <div class="card-header">
                <div class="input-group">
                    <span class="numero-fase input-group-text">Fase ${fase}</span>
                    <input class="form-control nombre-fase" type="text" maxlength="100" placeholder="Añadir titulo de fase" required>
                    <button class="btn btn-outline-danger borrar-fase" type="button">❌</button>
                </div>
            </div>
            <div class="card-body">
                <label>Descripción de la fase</label>
                <textarea rows="7" placeholder="Describe la fase." class="descripcion w-100" required></textarea>
            </div>
        </div>`;
        return html;
    }
    function construir_fase_payload(orden, titulo, descripcion, modo_edicion = false, id_objeto = 0) {
        var objeto_fase;
        if (modo_edicion) {
            objeto_fase = {
                orden: orden,
                titulo: titulo,
                descripcion: descripcion,
                id_objeto: id_objeto
            }
        } else {
            objeto_fase = {
                orden: orden,
                titulo: titulo,
                descripcion: descripcion
            }
        }
        return objeto_fase
    }
    function enumerar_elementos() {
        var fases = $(".fase");
        var fase_actual = 1;
        fases.each((e, v) => {
            v.dataset["posicion"] = fase_actual;
            $(v).find(".numero-fase").html(`Fase ${fase_actual}`)
            fase_actual++;
        });
    }
    function enviar_tablero() {
        var formulario = $("#formulario-tablero")[0];
        if(!formulario.checkValidity()) {
            $("#submit-form").click();
        }
        var fases = [];
        $(".fase").each((e,v) => {
            fases.push(
                {% if modo_edicion %}
                construir_fase_payload(
                    orden=$(v).data("posicion"),
                    titulo=$(v).find(".nombre-fase").val(),
                    descripcion=$(v).find(".descripcion").val(),
                    modo_edicion=true,
                    id_objeto=$(v).data("id-objeto"),
                )
                {% else %}
                construir_fase_payload(
                    orden=$(v).data("posicion"),
                    titulo=$(v).find(".nombre-fase").val(),
                    descripcion=$(v).find(".descripcion").val(),
                )
                {% endif %}
            )
        });
        var payload = {
            fases: fases,
            nombre: $("#nombre-tablero").val(),
        }
        fetch("{% url 'api_tablero' %}", {
            method: "POST",
            body: JSON.stringify(
                payload
            ),
            headers: { "X-CSRFToken": "{{ csrf_token }}", "Content-Type": "application/json" }
        })
            .then(res => res.json())
            .then((res) => {
                if(res.messages.length == 0) {
                    alert("Tablero creado!");
                    window.location.href = "{% url 'lista_tableros' %}";
                } else {
                    var composed_mensajes = "";
                    for(var i= 0; i < res.messages.length; i++) {
                        composed_mensajes+=res.messages[i] + "\n";
                    }
                    alert(`Se detectaron los siguientes errores:\n${composed_mensajes}`);
                }
            })
            .catch(err => console.error(err));
    }
    function cargar_eventos() {
        $(".borrar-fase").off("click", borrar_fase);
        $(".borrar-fase").on("click", borrar_fase);
    }
    function anadir_fase() {
        var fases = $(".fase");
        var siguiente_fase = fases.length + 1;
        var fase_html = construir_fase(siguiente_fase);
        $("#contenedor-fases").append(fase_html);
        $(".borrar-fase").prop("disabled", false);
        cargar_eventos();
    }
    function borrar_fase(evt) {
        var padre = $(evt.target).parent().parent().parent();
        padre.remove();
        if ($(".fase").length < 2) {
            $(".borrar-fase").prop("disabled", true);
        }
        enumerar_elementos();
    }
    $(window).on("load", function () {
        dragula([document.querySelector('#contenedor-fases')]).on('drop', function (el) {
            enumerar_elementos();
        });
        $("#anadir-fase").on("click", anadir_fase);
        $("#crear-tablero").on("click", enviar_tablero);
        cargar_eventos();
    });
</script>
{% endblock js_scripts %}