{% extends "../base.html" %}
{% block content %}
<h1>Proyecto de Contratación 1</h1>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Seguro de eliminar al Candidato?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>¡No podrás deshacer esta acción!</b>. El Candidato será eliminado de este tablero, junto con la
                información adjunta. <br>
                <b>Candidado: </b> Juan Alberto Arena.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger">Entiendo. Eliminar.</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminarArchivoModal" tabindex="-1" aria-labelledby="eliminarArchivoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="eliminarArchivoModalLabel">¿Seguro de eliminar el archivo?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>¡No podrás deshacer esta acción!</b>. El archivo será removido del Candidato. <br>
                <b>Archivo: </b> Solicitud.pdf <br>
                <b>Candidado: </b> Juan Alberto Arena.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger">Entiendo. Eliminar.</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-xl fade" id="candidatoModal" tabindex="-1" aria-labelledby="candidatoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="candidatoModalLabel">Juan Alberto Arena</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <h4>Resumen del Candidato</h4>
                <b>Nombre Completo:</b> Juan Alberto Arena.<br>
                <b>Fecha de Nacimiento:</b> 28 de Agosto de 1999.<br>
                <b>Estado Civil:</b> Casado.<br>
                <b>Nacionalidad:</b> Mexicano.<br>
                <b>Teléfono:</b> 449 383 3215<br>
                <b>Correo Electrónico:</b> juanalberto@arena.com<br>
                <hr>
                <h4>Comentarios y Documentos</h4>
                <table class="table">
                    <tr>
                        <th>Hora y Fecha</th>
                        <th colspan="2">Documento/Comentario</th>
                    </tr>
                    <tr>
                        <td>2023-09-12 11:00 pm</td>
                        <td>
                            <b>Usuario 1 Añadió:</b><br>
                            <a href="">Solicitud.pdf</a><br>
                            <b>Descripción:</b> CV del Candidato. <br>
                        </td>
                        <td>
                            <button class="btn btn-sm" data-bs-toggle="modal"
                            data-bs-target="#eliminarArchivoModal">❌</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2023-09-13 11:20 am</td>
                        <td>
                            <b>Usuario 1 Comentó:</b><br>
                            <p><i>Se llamó al candidato esta mañana, la intención de la llamada era indicarle la fecha para entrevistarlo, no contestó. Intentaré llamar más tarde.</i></p>
                        </td>
                        <td>
                            <button class="btn btn-sm" data-bs-toggle="modal"
                            data-bs-target="#eliminarArchivoModal">❌</button>
                        </td>
                    </tr>
                </table>
                <hr>
                <nav>
                    <div class="nav nav-tabs m-3" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">Comentar</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Subir
                            Documento</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                        tabindex="0">
                        <h4>Deja un Comentario</h4>
                        <div class="mb-3">
                            <label for="basic-url" class="form-label">Comenta:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="basic-url"
                                    aria-describedby="basic-addon3 basic-addon4">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                        tabindex="0">
                        <h4>Subir Documento</h4>
                        <div class="mb-3">
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="mb-3">
                            <label for="basic-url" class="form-label">Añade una descripción del documento</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="basic-url"
                                    aria-describedby="basic-addon3 basic-addon4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="tablero" class="h-100 d-flex flex-row flex-nowrap position-absolute">
    <div class="card m-3">
        <div class="card-header">
            Fase 1: Aplicantes
        </div>
        <div class="card-body">
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Juan Alberto Arena</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Puesto deseado: Control de Máquinas</h6>
                    <p class="card-text">Fecha de inicio de proceso: 2023-09-20</p>
                    <a href="#" class="btn btn-secondary btn-sm card-link" data-bs-toggle="modal"
                        data-bs-target="#candidatoModal">Ver Candidato</a>
                    <button href="#" class="btn btn-danger btn-sm card-link" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Eliminar Candidato</a>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Leandro Abelardo Carlos</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Puesto deseado: Control de Máquinas</h6>
                    <p class="card-text">Fecha de inicio de proceso: 2023-09-10</p>
                    <a href="#" class="btn btn-secondary btn-sm card-link">Ver Candidato</a>
                    <button href="#" class="btn btn-danger btn-sm card-link" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Eliminar Candidato</a>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Abelardo Leandro Carlos</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Puesto deseado: Control de Máquinas</h6>
                    <p class="card-text">Fecha de inicio de proceso: 2023-09-11</p>
                    <a href="#" class="btn btn-secondary btn-sm card-link">Ver Candidato</a>
                    <button href="#" class="btn btn-danger btn-sm card-link" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Eliminar Candidato</a>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Carlos Abelardo Leandro</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Puesto deseado: Control de Máquinas</h6>
                    <p class="card-text">Fecha de inicio de proceso: 2023-09-12</p>
                    <a href="#" class="btn btn-secondary btn-sm card-link">Ver Candidato</a>
                    <button href="#" class="btn btn-danger btn-sm card-link" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Eliminar Candidato</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card m-3">
        <div class="card-header">
            Fase 2: Entrevista
        </div>
        <div class="card-body">
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Leandro Carlos Abelardo</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Puesto deseado: Control de Máquinas</h6>
                    <p class="card-text">Fecha de inicio de proceso: 2023-09-13</p>
                    <a href="#" class="btn btn-secondary btn-sm card-link">Ver Candidato</a>
                    <button href="#" class="btn btn-danger btn-sm card-link" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Eliminar Candidato</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card m-3">
        <div class="card-header">
            Fase 3: Candidatos con Oferta
        </div>
        <div class="card-body">
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Abelardo Carlos Leandro</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Puesto deseado: Control de Máquinas</h6>
                    <p class="card-text">Fecha de inicio de proceso: 2023-09-14</p>
                    <a href="#" class="btn btn-secondary btn-sm card-link">Ver Candidato</a>
                    <button href="#" class="btn btn-danger btn-sm card-link" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Eliminar Candidato</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card m-3">
        <div class="card-header">
            Fase 4: Contratados
        </div>
        <div class="card-body">
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Carlos Leandro Abelardo</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Puesto deseado: Control de Máquinas</h6>
                    <p class="card-text">Fecha de inicio de proceso: 2023-09-15</p>
                    <a href="#" class="btn btn-secondary btn-sm card-link">Ver Candidato</a>
                    <button href="#" class="btn btn-danger btn-sm card-link" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Eliminar Candidato</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}